# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor settings
.vscode/

# Database files (VERY IMPORTANT)
*.db
db/*.db
db.sqlite3

# Generated images
generated_images/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db